{% extends 'common.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
     <!--  css file -->  
     <link rel="stylesheet" href="../static/styles/about.css">
    <link rel="stylesheet" href="../static/styles/footer.css">
    <!-- CSS Link -->
   
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Icon css link -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--  css file -->   
</head>
<style>

</style>
<body>

    
    <br><br><br><br><br>

    <div class="header-img" style="margin-top: 0%;"></div>
    <div class="header-txt">
        <h1>Donate</h1>
        <h3>for a better world</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste ducimus ipsa repudiandae provident ullam nobis quia error itaque deserunt eaque?cvbfgfghfgrthfghfghfghfghfhfgb</p>
        <a href="login.html">Donate Now</a>
        <a href="login.html">Be Volunteer</a>
    </div>

    <div class="about-us">
        <hr>
        <h1>ABOUT US</h1>
        <p>
            No Food Waste is an organisation which aims to redistribute excess food from weddings, parties,
            events to those who are hungry.
     
            The idea took root in Coimbatore, where we started with 2 Shopper Bags and a volunteer to collect
            the surplus food and deliver to the homeless through Public Transportation System from October 16th,
            2014. We took an oath on that day to stop food waste and satisfy the hunger of many, in a quest to
            make the “World Hunger Free.”
       
            No Food Waste works alongside Governments, Corporates with Social Responsibility on their minds,
            other partners and Volunteers to create a local chapter of excess food collection institution, which
            will be spread across various cities, addressing the two major challenges – namely urban and
            environmental, following the United Nations Sustainable Development Goals.

            We aim to bring benefits across the spectrum of society and help provide access to food to those who
            don’t have adequate means to access it.
        </p>
        <hr>
    </div>

    <div class="service-img""></div>
    <div class="service-txt">
        <h1 style="margin-top: 90px;">Services We Provided ...</h1>
        <div class="box" style="margin-top: 20px;">
            <img src="https://images.unsplash.com/photo-1488521787991-ed7bbaae773c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8ZG9uYXRpb258ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt="">
            <h2 style="margin-top: 30px;">Donation</h2>
            <p >
                : User can register using personal details.<br>
                : User can login in his personal account using id and
                password.<br>
                : Create a new food item with details of quantity,
                location, address contact.<br>
                : Add multiple food items to table for booking.<br>
                : After adding details about food user can logout the
                system.
                </p>
           
        </div>
      </div>
  
    <!-- second section ends -->
  
  
  
  
     <!--section-five starts-->
  
     <section id="section-five">
        <div class="section-five1"><b>BECOME DONOR AND VOLUNTEER</b></div>
        <h1><b>Best Way To Help Others</b></h1>
        <p>The message of The Faithland is that Christ saves sinners. In light of<br>
                that, we steward a message that radically changes lives.</p>
      
     
      </section>
    <div class="container">
        <div class="section-title">
            <h1>Our Team (Sharks)</h1>
        </div>

        <div class="row">


            <div class="column">
                <div class="team">
                    <div class="team-img">
                        <img src="../static/images/IMG-20221206-WA0020.jpg" alt="Team Image">
                    </div>
                    <div class="team-content">
                        <h2>Anmol Gupta</h2>
                        <p>"Better food waste management will give India both nutritional and
                            environmental security"</p>
                        <h4>guptaanmol248001@gmail.com</h4>
                    </div>
                    <div class="team-social">
                        <a href="#" class="social-tw"> <i class="fa fa-twitter"></i></a>
                        <a href="#" class="social-fb"> <i class="fa fa-linkedin"></i></a>
                        <a href="#" class="social-li"> <i class="fa fa-facebook"></i></a>
                        <a href="#" class="social-in"> <i class="fa fa-pinterest"></i></a>
                        <a href="#" class="social-yt"> <i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="team">
                    <div class="team-img">
                        <img src="../static/images/IMG-20220922-WA0024.jpg" alt="Team Image">
                    </div>
                    <div class="team-content">
                        <h2>Saumya Gupta</h2>
                        
                        <p>"We’re not getting younger. Today let’s fight hunger!"</p>
                        <h4>saumyagupta093@gmail.com</h4>
                    </div>
                    <div class="team-social">
                        <a href="#" class="social-tw"> <i class="fa fa-twitter"></i></a>
                        <a href="#" class="social-fb"> <i class="fa fa-linkedin"></i></a>
                        <a href="#" class="social-li"> <i class="fa fa-facebook"></i></a>
                        <a href="#" class="social-in"> <i class="fa fa-pinterest"></i></a>
                        <a href="#" class="social-yt"> <i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="team">
                    <div class="team-img">
                        <img src="../static/images/IMG-20221206-WA0023.jpg" alt="Team Image">
                    </div>
                    <div class="team-content">
                        <h2>Aditya Verma</h2>
                        
                        <p>"Feeding a hungry person is closest possible thing one can do to please the almighty as all of us are his offsprings."</p>
                        <h4>akv1300@gmail.com</h4>
                    </div>
                    <div class="team-social">
                        <a href="#" class="social-tw"> <i class="fa fa-twitter"></i></a>
                        <a href="#" class="social-fb"> <i class="fa fa-linkedin"></i></a>
                        <a href="#" class="social-li"> <i class="fa fa-facebook"></i></a>
                        <a href="#" class="social-in"> <i class="fa fa-pinterest"></i></a>
                        <a href="#" class="social-yt"> <i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="team">
                    <div class="team-img">
                        <img src="../static/images//IMG-20221207-WA0002.jpg" alt="Team Image">
                    </div>
                    <div class="team-content">
                        <h2>Raghavendra Amberkar</h2>
                 
                        <p>"Stay Calm and Donate food"</p>
                        <h4>raghavendraamberkar05@gmail.com </h4>
                    </div>
                    <div class="team-social">
                        <a href="#" class="social-tw"> <i class="fa fa-twitter"></i></a>
                        <a href="#" class="social-fb"> <i class="fa fa-linkedin"></i></a>
                        <a href="#" class="social-li"> <i class="fa fa-facebook"></i></a>
                        <a href="#" class="social-in"> <i class="fa fa-pinterest"></i></a>
                        <a href="#" class="social-yt"> <i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="team">
                    <div class="team-img">
                        <img src="../static/images/IMG-20221207-WA0007.jpg" alt="Team Image">
                    </div>
                    <div class="team-content">
                        <h2>Ganesh Keni</h2>
                      
                        <p>"Alone we can do so little; together we can do so much."</p>
                        <h4> keni.ganeshprasad@gmail.com</h4>
                    </div>
                    <div class="team-social">
                        <a href="#" class="social-tw"> <i class="fa fa-twitter"></i></a>
                        <a href="#" class="social-fb"> <i class="fa fa-linkedin"></i></a>
                        <a href="#" class="social-li"> <i class="fa fa-facebook"></i></a>
                        <a href="#" class="social-in"> <i class="fa fa-pinterest"></i></a>
                        <a href="#" class="social-yt"> <i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="team">
                    <div class="team-img">
                        <img src="../static/images/IMG-20221207-WA0010.jpg" alt="Team Image">
                    </div>
                    <div class="team-content">
                        <h2>Aniket Ayush</h2>
                      
                        <p>"It’s time for hunger to can it!"</p>
                        <h4>aniketayush257@gmail.com</h4>
                    </div>
                    <div class="team-social">
                        <a href="#" class="social-tw"> <i class="fa fa-twitter"></i></a>
                        <a href="#" class="social-fb"> <i class="fa fa-linkedin"></i></a>
                        <a href="#" class="social-li"> <i class="fa fa-facebook"></i></a>
                        <a href="#" class="social-in"> <i class="fa fa-pinterest"></i></a>
                        <a href="#" class="social-yt"> <i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="team">
                    <div class="team-img">
                        <img src="../static/images/IMG-20221207-WA0004.jpg" alt="Team Image">
                    </div>
                    <div class="team-content">
                        <h2>Shravani</h2>
                       
                        <p>"there is food for everyone in this planet,but not everyone eats.."</p>
                        <h4>tongeshravani@gmail.com</h4>
                    </div>
                    <div class="team-social">
                        <a href="#" class="social-tw"> <i class="fa fa-twitter"></i></a>
                        <a href="#" class="social-fb"> <i class="fa fa-linkedin"></i></a>
                        <a href="#" class="social-li"> <i class="fa fa-facebook"></i></a>
                        <a href="#" class="social-in"> <i class="fa fa-pinterest"></i></a>
                        <a href="#" class="social-yt"> <i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="team">
                    <div class="team-img">
                        <img src="https://i.pinimg.com/originals/a6/58/32/a65832155622ac173337874f02b218fb.png" alt="Team Image">
                    </div>
                    <div class="team-content">
                        <h2>Sahana R</h2>
                        
                        <p>"We’re hungry for donations."</p>
                        <h4>abc@gmail.com</h4>
                    </div>
                    <div class="team-social">
                        <a href="#" class="social-tw"> <i class="fa fa-twitter"></i></a>
                        <a href="#" class="social-fb"> <i class="fa fa-linkedin"></i></a>
                        <a href="#" class="social-li"> <i class="fa fa-facebook"></i></a>
                        <a href="#" class="social-in"> <i class="fa fa-pinterest"></i></a>
                        <a href="#" class="social-yt"> <i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>

    </div>
        

  
</body>
</html>

{% endblock %}