{% extends 'common.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
     <!--  css file -->  
     <link rel="stylesheet" href="../static/styles/about.css">
    <link rel="stylesheet" href="../static/styles/footer.css">
    <!-- CSS Link -->
   
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Icon css link -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--  css file -->   
</head>
<style>

</style>
<body>

       <!-- second section starts -->

       <div id="second">
        <h1>OUR MISSION</h1>
        
        <div class="row">
          <div class="column" style="background-repeat: no-repeat;background-size: cover;background-image:url(https://media.istockphoto.com/id/941788480/photo/portrait-of-girl-kid-having-mid-day-meal-in-indian-school.jpg?b=1&s=170667a&w=0&k=20&c=iiSKFLXNeMgFjHuPmfT_6s2xsFm37OPguVdTxDkLU68=)"></div>
  
          <div class="column" style="background-color:#fff; ">
              <h3><i class="fa fa-umbrella" style="font-size:48px;margin:0 30px 0 30px;"></i>   HELP & SUPPORT</h3>
              <p style="margin-left: 17%;">Lorem ipsum dolor, adipisicing elit. Aliquid vel consequuntur nobis, ad Lorem ipsum dolor sit amet consectetur adipisicing </p>
              <h3><i class="fa fa-globe" style="font-size:48px;margin:0 30px 0 30px;"></i>   Starve Free World</h3>
              <p style="margin-left: 17%;">Lorem ipsum dolor, adipisicing elit. Aliquid vel consequuntur nobis, ad Lorem ipsum dolor sit amet consectetur adipisicing</p>
              <h3><i class="fa fa-handshake-o" style="font-size:48px;margin:0 30px 0 30px;"></i>   Helping Hand</h3>
              <p style="margin-left: 17%;">Lorem ipsum dolor, adipisicing elit. Aliquid vel consequuntur nobis, ad Lorem ipsum dolor sit amet consectetur adipisicing</p>
          </div>
        </div>
      </div>
  
    <!-- second section ends -->
  
  
  
  
     <!--section-five starts-->
  
     <section id="section-five">
        <div class="section-five1"><b>BECOME DONOR AND VOLUNTEER</b></div>
        <h1><b>Best Way To Help Others</b></h1>
        <p>The message of The Faithland is that Christ saves sinners. In light of<br>
                that, we steward a message that radically changes lives.</p>
      
     
      </section>
    <div class="container">
        <div class="section-title">
            <h1>Our Team (Sharks)</h1>
        </div>

        <div class="row">


            <div class="column">
                <div class="team">
                    <div class="team-img">
                        <img src="../static/images/IMG-20221206-WA0020.jpg" alt="Team Image">
                    </div>
                    <div class="team-content">
                        <h2>Anmol Gupta</h2>
                        <p>"Better food waste management will give India both nutritional and
                            environmental security"</p>
                        <h4>guptaanmol248001@gmail.com</h4>
                    </div>
                    <div class="team-social">
                        <a href="#" class="social-tw"> <i class="fa fa-twitter"></i></a>
                        <a href="#" class="social-fb"> <i class="fa fa-linkedin"></i></a>
                        <a href="#" class="social-li"> <i class="fa fa-facebook"></i></a>
                        <a href="#" class="social-in"> <i class="fa fa-pinterest"></i></a>
                        <a href="#" class="social-yt"> <i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="team">
                    <div class="team-img">
                        <img src="../static/images/IMG-20220922-WA0024.jpg" alt="Team Image">
                    </div>
                    <div class="team-content">
                        <h2>Saumya Gupta</h2>
                        
                        <p>"We’re not getting younger. Today let’s fight hunger!"</p>
                        <h4>saumyagupta093@gmail.com</h4>
                    </div>
                    <div class="team-social">
                        <a href="#" class="social-tw"> <i class="fa fa-twitter"></i></a>
                        <a href="#" class="social-fb"> <i class="fa fa-linkedin"></i></a>
                        <a href="#" class="social-li"> <i class="fa fa-facebook"></i></a>
                        <a href="#" class="social-in"> <i class="fa fa-pinterest"></i></a>
                        <a href="#" class="social-yt"> <i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="team">
                    <div class="team-img">
                        <img src="../static/images/IMG-20221206-WA0023.jpg" alt="Team Image">
                    </div>
                    <div class="team-content">
                        <h2>Aditya Verma</h2>
                        
                        <p>"Feeding a hungry person is closest possible thing one can do to please the almighty as all of us are his offsprings."</p>
                        <h4>akv1300@gmail.com</h4>
                    </div>
                    <div class="team-social">
                        <a href="#" class="social-tw"> <i class="fa fa-twitter"></i></a>
                        <a href="#" class="social-fb"> <i class="fa fa-linkedin"></i></a>
                        <a href="#" class="social-li"> <i class="fa fa-facebook"></i></a>
                        <a href="#" class="social-in"> <i class="fa fa-pinterest"></i></a>
                        <a href="#" class="social-yt"> <i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="team">
                    <div class="team-img">
                        <img src="../static/images//IMG-20221207-WA0002.jpg" alt="Team Image">
                    </div>
                    <div class="team-content">
                        <h2>Raghavendra Amberkar</h2>
                 
                        <p>"Stay Calm and Donate food"</p>
                        <h4>raghavendraamberkar05@gmail.com </h4>
                    </div>
                    <div class="team-social">
                        <a href="#" class="social-tw"> <i class="fa fa-twitter"></i></a>
                        <a href="#" class="social-fb"> <i class="fa fa-linkedin"></i></a>
                        <a href="#" class="social-li"> <i class="fa fa-facebook"></i></a>
                        <a href="#" class="social-in"> <i class="fa fa-pinterest"></i></a>
                        <a href="#" class="social-yt"> <i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="team">
                    <div class="team-img">
                        <img src="../static/images/IMG-20221207-WA0007.jpg" alt="Team Image">
                    </div>
                    <div class="team-content">
                        <h2>Ganesh Keni</h2>
                      
                        <p>"Alone we can do so little; together we can do so much."</p>
                        <h4> keni.ganeshprasad@gmail.com</h4>
                    </div>
                    <div class="team-social">
                        <a href="#" class="social-tw"> <i class="fa fa-twitter"></i></a>
                        <a href="#" class="social-fb"> <i class="fa fa-linkedin"></i></a>
                        <a href="#" class="social-li"> <i class="fa fa-facebook"></i></a>
                        <a href="#" class="social-in"> <i class="fa fa-pinterest"></i></a>
                        <a href="#" class="social-yt"> <i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="team">
                    <div class="team-img">
                        <img src="../static/images/IMG-20221207-WA0010.jpg" alt="Team Image">
                    </div>
                    <div class="team-content">
                        <h2>Aniket Ayush</h2>
                      
                        <p>"It’s time for hunger to can it!"</p>
                        <h4>aniketayush257@gmail.com</h4>
                    </div>
                    <div class="team-social">
                        <a href="#" class="social-tw"> <i class="fa fa-twitter"></i></a>
                        <a href="#" class="social-fb"> <i class="fa fa-linkedin"></i></a>
                        <a href="#" class="social-li"> <i class="fa fa-facebook"></i></a>
                        <a href="#" class="social-in"> <i class="fa fa-pinterest"></i></a>
                        <a href="#" class="social-yt"> <i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="team">
                    <div class="team-img">
                        <img src="../static/images/IMG-20221207-WA0004.jpg" alt="Team Image">
                    </div>
                    <div class="team-content">
                        <h2>Shravani</h2>
                       
                        <p>"there is food for everyone in this planet,but not everyone eats.."</p>
                        <h4>tongeshravani@gmail.com</h4>
                    </div>
                    <div class="team-social">
                        <a href="#" class="social-tw"> <i class="fa fa-twitter"></i></a>
                        <a href="#" class="social-fb"> <i class="fa fa-linkedin"></i></a>
                        <a href="#" class="social-li"> <i class="fa fa-facebook"></i></a>
                        <a href="#" class="social-in"> <i class="fa fa-pinterest"></i></a>
                        <a href="#" class="social-yt"> <i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="team">
                    <div class="team-img">
                        <img src="https://i.pinimg.com/originals/a6/58/32/a65832155622ac173337874f02b218fb.png" alt="Team Image">
                    </div>
                    <div class="team-content">
                        <h2>Sahana R</h2>
                        
                        <p>"We’re hungry for donations."</p>
                        <h4>abc@gmail.com</h4>
                    </div>
                    <div class="team-social">
                        <a href="#" class="social-tw"> <i class="fa fa-twitter"></i></a>
                        <a href="#" class="social-fb"> <i class="fa fa-linkedin"></i></a>
                        <a href="#" class="social-li"> <i class="fa fa-facebook"></i></a>
                        <a href="#" class="social-in"> <i class="fa fa-pinterest"></i></a>
                        <a href="#" class="social-yt"> <i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>

    </div>
        

  
</body>
</html>

{% endblock %}