{% extends 'common.html' %}

{% block content %}
<div class="container">
    <div class="row pt-100 pb-50">
        <div class="col-md-12 col-12">
            <h2 class="bolder-txt-2 text-center">About Us</h2>
            <h5 class="mt-100 mb-50">
                <img src="https://img.icons8.com/fluent-systems-filled/48/000000/quote-left.png">Hunger is not a
                problem. It is an obscenity. How wonderful it is that nobody need wait a single moment before
                starting to improve the world. – Anne Frank
                <img src="https://img.icons8.com/fluent-systems-filled/48/000000/quote-right.png">
            </h5>
        </div>
        <div class="col-md-12 col-12 mt-5 mb-5 text-justify">

            <p>
                No Food Waste is an organisation which aims to redistribute excess food from weddings, parties,
                events to those who are hungry.
            </p>
            <p>
                The idea took root in Coimbatore, where we started with 2 Shopper Bags and a volunteer to collect
                the surplus food and deliver to the homeless through Public Transportation System from October 16th,
                2014. We took an oath on that day to stop food waste and satisfy the hunger of many, in a quest to
                make the “World Hunger Free.”
            </p>
            <p>
                No Food Waste works alongside Governments, Corporates with Social Responsibility on their minds,
                other partners and Volunteers to create a local chapter of excess food collection institution, which
                will be spread across various cities, addressing the two major challenges – namely urban and
                environmental, following the United Nations Sustainable Development Goals.
            </p>
            <p>
                We aim to bring benefits across the spectrum of society and help provide access to food to those who
                don’t have adequate means to access it.
            </p>
            <p>
                A global level study by the Food and Agriculture Organization of the United Nations (FAO) says that one-third of the food, roughly 1.3 billion tons, is wasted every year. On the other hand, United Nations Food and Agriculture Organization (FAO) estimates that about 815 million people in the world are suffering from chronic undernourishment. 
            </p>
            <p>
                In addition to its important economic and societal impact, food waste places undue pressure on finite natural resources and the environment. The economic costs of this food wastage are substantial and amount to about $1 trillion each year. Food that is harvested but ultimately lost or wasted consumes about one-quarter of all water used by agriculture each year and requires a cropland area the size of China. Also, Food waste generates about 8% of global greenhouse gas emissions annually and it is the third-largest emitter of greenhouse gases in the world.
            </p>
            <p>
                In the case of India, the Nation is the second-largest food producer in the World after China contributing to about 10.04% of the total World’s food production. But, an average Indian household wastes 50 kg of food per person per year or 68,760,163 tonnes a year, according to the United Nations Environment Programme's Food Waste Index Report 2021 which has been valued at around INR 92,000 crores. The report explains that around 931 million tonnes of food waste were generated in 2019, 61% of which came from households, 26% from food service and 13% from retail.
            </p>
            <p >
                On the other hand, over a sixth of India's population is permanently hungry and undernourished. That is almost 190 million people who go to sleep hungry, on most days. Over a third of the children under the age of five show the prevalence of stunting. 
            </p>
            <p>
                In the Global Hunger Index report 2020, India ranked 94th out of 107 countries with a score of 27.2 indicating a “Serious” hunger situation prevailing in the Nation.
            </p>
            <p>
                India’s low ranking also influences South Asia’s regional score as three-quarters of South Asia’s population reside in India. This can be tackled only through the combined action of all stakeholders of the Nation with a holistic approach towards reducing food waste and hunger. 
            </p>
            <p>
                Hunger cannot be combated without a strategy. India has a twin problem of excess supply of foodgrain (flagged by the RBI) and an excess number of very hungry people, which indicates that food is piling up at one end and on the other nearly 200 million people are hungry.
            </p>
            
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-10 col-12 mt-3">
                    <h4 class="">
                No Food Waste is working in alignment with United Nations Sustainable Development Goals (Goal 2 and Goal 12) for making the World Hunger Free and Zero Food Waste
                </h4>
                </div>
                <div class="col-md-2 mt-3 col-12 text-center">
                <img src="https://nofoodwaste.org/images/partners/unsdg.png" class="w-75" alt="UNSDGS-LOGO">
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}