{% extends 'common.html' %}

{% block content %}
<link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='styles/dashboard.css') }}">
<style>
    body{
        background-color:lightgrey;
    }
    .form-control {
        height: 40px;
        box-shadow: none;
        color: #969fa4;
    }
    .form-control:focus {
        border-color: #5cb85c;
    }
    .form-control, .btn {        
        border-radius: 3px;
    }
    .signup-form {
        width: 450px;
        margin: 0 auto;
        padding: 30px 0;
        font-size: 15px;
        border: black ;
    }
    .signup-form h2 {
        color: #636363;
        margin: 0 0 15px;
        position: relative;
        text-align: center;
    }
    
    .signup-form .hint-text {
        color: #999;
        margin-bottom: 30px;
        text-align: center;
    }
    .signup-form form {
        color: #999;
        border-radius: 3px;
        margin-bottom: 15px;
        background: #f2f3f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }
    .signup-form .form-group {
        margin-bottom: 20px;
    }
    .signup-form input[type="checkbox"] {
        margin-top: 3px;
    }
    .signup-form .btn {        
        font-size: 16px;
        font-weight: bold;		
        min-width: 140px;
        outline: none !important;
    }
    .signup-form .row div:first-child {
        padding-right: 10px;
    }
    .signup-form .row div:last-child {
        padding-left: 10px;
    }    	
    .signup-form a {
        color: #fff;
        text-decoration: underline;
    }
    .signup-form a:hover {
        text-decoration: none;
    }
    .signup-form form a {
        color: #5cb85c;
        text-decoration: none;
    }	
    .signup-form form a:hover {
        text-decoration: underline;
    }  
    </style>
    
   <!-- side-navbar Starts -->

  <div class="sidebar">
    <div class="logo-details">
      <i class='bx bxs-donate-heart'></i>
      <a href="/adminhome"><span class="logo_name">Feed-It-Back</span></a>
    </div>
      <ul class="nav-links">

        <li>
          <a href="/dashadmin" class="active">
            <i class='bx bx-grid-alt' ></i>
            <span class="links_name">Dashboard</span>
          </a>
        </li>

        <li>
          <a href="/view_donors">
            <i class='bx bx-donate-heart' ></i>
            <span class="links_name">View Donors </span>
          </a>
        </li>

        
        <li>
          <a href="/view_volunteers">
            <i class='bx bx-male' ></i>
            <span class="links_name">View Volunteers</span>
          </a>
        </li>
        
        <li>
          <a href="/view_foodavailable">
            <i class='bx bx-restaurant' ></i>
            <span class="links_name">Food Available </span>
          </a>
        </li>

        <li>
          <a href="/view_foodrequested">
            <i class='bx bx-restaurant'></i>
            <span class="links_name">Requested Food </span>
          </a>
        </li>

        <li>
            <a href="/foodhistory">
              <i class='bx bx-box' ></i>
              <span class="links_name">View Delivery-History </span>
            </a>
        </li>

        <li>
          <a href="/add_receiver">
            <i class='bx bx-book-add'></i>
            <span class="links_name">Add Receiver</span>
          </a>
        </li>

        <li>
          <a href="/view_receivers">
            <i class='bx bx-book-content'></i>
            <span class="links_name">View Receivers</span>
          </a>
        </li>
      
        <li>
          <a href="/adminhome">
            <i class='bx bx-arrow-back'></i>
            <span class="links_name">Back</span>
          </a>
        </li>

        <li>
          <a href="/logout">
            <i class='bx bx-pie-chart-alt-2' ></i>
            <span class="links_name">Log out</span>
          </a>
        </li>
       
      </ul>
  </div>

<div class="signup-form">
    
    <form action="/add_receiver" method="POST">
		<h2>Add Receiver</h2>
        {% with messages = get_flashed_messages() %}
		    {% if messages %}
    	    <div class=" hint-text text-danger">
        	    {{ messages[0] }}
    	    </div>
		    {% endif %}
		{% endwith %}
        
        <div class="form-group">
        	<input type="text" class="form-control" name="r_address" placeholder="Enter Address" required="required">
        </div>
		
        <div class="form-group">
            <div class="input-group mb-3">
                <span class="input-group-text">+91</span>
                <input type="tel" class="form-control" name="r_contact_number" placeholder="Enter Contact Number" required="required">
            </div>
        </div>

		<div class="form-group">
            <button type="submit" class="btn btn-success btn-lg btn-block">Add</button>
        </div>
    </form>
</div>

{% endblock %}