{% extends 'common.html' %}
{% block content %}

<div class="container">
    <h4>Food Delivered History log</h4>
    <div class="row">
        <div class="col-6">
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
       
    </div>
    <br>
    <div>
      
   <!-- side-navbar Starts -->

  <div class="sidebar">
    <div class="logo-details">
      <i class='bx bxs-donate-heart'></i>
      <a href="/adminhome"><span class="logo_name">Feed-It-Back</span></a>
    </div>
      <ul class="nav-links">

        <li>
          <a href="/dashadmin" class="active">
            <i class='bx bx-grid-alt' ></i>
            <span class="links_name">Dashboard</span>
          </a>
        </li>

        <li>
          <a href="/view_donors">
            <i class='bx bx-donate-heart' ></i>
            <span class="links_name">View Donors </span>
          </a>
        </li>

        
        <li>
          <a href="/view_volunteers">
            <i class='bx bx-male' ></i>
            <span class="links_name">View Volunteers</span>
          </a>
        </li>
        
        <li>
          <a href="/view_foodavailable">
            <i class='bx bx-restaurant' ></i>
            <span class="links_name">Food Available </span>
          </a>
        </li>

        <li>
          <a href="/view_foodrequested">
            <i class='bx bx-restaurant'></i>
            <span class="links_name">Requested Food </span>
          </a>
        </li>

        <li>
            <a href="/foodhistory">
              <i class='bx bx-box' ></i>
              <span class="links_name">View Delivery-History </span>
            </a>
        </li>

        <li>
          <a href="/add_receiver">
            <i class='bx bx-book-add'></i>
            <span class="links_name">Add Receiver</span>
          </a>
        </li>

        <li>
          <a href="/view_receivers">
            <i class='bx bx-book-content'></i>
            <span class="links_name">View Receivers</span>
          </a>
        </li>
      
        <li>
          <a href="/adminhome">
            <i class='bx bx-arrow-back'></i>
            <span class="links_name">Back</span>
          </a>
        </li>

        <li>
          <a href="/logout">
            <i class='bx bx-pie-chart-alt-2' ></i>
            <span class="links_name">Log out</span>
          </a>
        </li>
       
      </ul>
  </div>

        <table class="table text-center">
            <thead>
                <!--These are dummy data need to update from backend-->
              <tr>
                <th scope="col">Donor</th>
                <th scope="col">Pickup Location</th>
                <th scope="col">Food Category</th>
                <th scope="col">Food Qty</th>
                <th scope="col">Picked By</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Hotel Marriott</td>
                <td>Dehradun,Uttarakhand</td>
                <td>Veg</td>
                <td>20</td>
                <td>Alex John</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>

{% endblock %}