
  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
img{
  height: 60vh;
}
#first{
  margin-top: 30px;
  background-color: rgb(81, 204, 252);
  text-align: center;
}
#first h1{
  margin-top: 50px;
}
/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 44%;
  padding: 10px;
  height: 350px; /* Should be removed. Only for demonstration */
  margin: 40px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
#second {
  background-color: #fff;
  margin-top: 40px;
  
}
#second h1{
  text-align: center;
  color: black;
  font-weight: bolder;
  font-style: "sans-serif";
  margin-bottom: 30px;
 
}
#second h3{
  color: rgb(48, 143, 181);
  font-weight: bold;
  font-style: "sans-serif";
  
}
#second p{
  color: black;
  font-weight: 800px;
}





#section-five{
    margin-top: 3%;
	position: relative; 
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("https://images.unsplash.com/photo-1469571486292-0ba58a3f068b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
} 

#section-five::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color:rgba(5, 5, 181, 0.397);
}
#section-five .section-five1{
	position: absolute;
	color: #ffffff;  
	font-size: 20px;
	/*line-height: 0.9;*/
	text-align: center;
	padding-top: 5px;
	width: 260px;
	height: 40px;
	margin-top: -18%;
	background-color: darkred;
  }
#section-five h1 {
	position: relative;
	color: #ffffff;  
	font-size: 40px;
	/*line-height: 0.9;*/
	text-align: center;
  }
  #section-five p {
	position: absolute;
	color: #fff;  
	font-size: 25px;
	/*line-height: 0.9;*/
	text-align: center;
	margin-top: 15%;
  }
#section-five a{
	position: absolute;
	align-items: center;
	margin-top: 25%;
    display: block;
	align-items: center;
	width: 260px;
	color: #fff;
	text-align: center;
	height: 40px;
	font-size: 20px;
	text-decoration: none;
	border: 2px solid #fff;

}
#section-five a:hover{
	background-color: #fff;
	color: orangered;
}


/*===========================news-section===========================*/
#news-section{
    padding: 70px 0px;
    background-color: #fff;
  }
  .news-title{
    padding-bottom: 0px;
  }
  
  .news-title h3{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    width: 20%;
	margin-left: 40%;
    color:white;
    background-color: black;
  }
  
  .news-title h1{
    text-align: center;
    font-weight: bold;
    font-size: 58px;
  padding-top: 18px;
    color: rgb(106, 105, 105);
  }
  #news-section .container{
    margin-top: 40px;
  }
  
  #news-section img{
    position: relative;
    top: 0;
    left: 0;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    /* z-index: -1; */
    border-radius: 10px;
    object-fit: cover;  
    object-position: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
  .flip-card {
    margin-left: auto !important;
    margin-right: auto !important;
    display: flex;
    justify-content: center;
    background-color: transparent;
    border-radius: 10px;
    padding: 00px;
    margin: 0px;
    margin-bottom: 0px;
    width: 250px;
    height: 250px;
    /* border: 1px solid #f1f1f1; */
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    margin-top: 30px;
    border-radius: 10px;
    /* border: 1px solid #f1f1f1; */
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    border-radius: 10px;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color:rgb(10, 89, 121);
    color: white;
    transform: rotateY(180deg);
  }
  .flip-card-back p {
   
    color:#fff;
	font-size: 20px;
	padding-top: 20px;
  }
  .flip-card-back button{
    background: black;
    color: white;
    transition: transform .2s; /* Animation */
  }
  .flip-card-back button:hover{
    color: black;
	background: white;
	border: 1px solid black;
	
    transform: scale(1.1);
  }
  
  .flip-content{
    /* box-shadow: 0 0 10px #fdfdfd; */
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
	transition: 0.5s;
	
    background-color:rgb(81, 204, 252);
    /*border: 1px solid black;*/
  }
  
  
  .flip-content h4{
    margin-top: 40px;
    padding-bottom: 20px;
    text-align: center;
    color: black;
    font-weight: bold;
  }
  
  .flip-content p{
    padding-bottom: 15px;
    text-align: center;
    font-size: 17px;
    color: black;
  }
  
  .flip-content .flip-content-a{
    padding-bottom: 15px;
    text-align: center;
  }
  
  .flip-content a{
    display:inline-block;
    width: 150px;
    text-decoration: none !important;
    line-height: 2.5em;
    border-radius: 10px;
    /* text-align: center; */
    border-width: 0;
    /*background: #543864;*/
    border: 2px solid black;
    color: black;
    font-weight: bold;
    letter-spacing: 4px;
    margin-top: 10px;
    transition: 0.5s;
    transform: scale(1.1);
  }
  
  .flip-content a:hover{
    text-decoration: none;
    background: white;
    color: black;
    font-weight: bold;
    letter-spacing: 4px;
    margin-top: 10px;
    transition: 0.5s;
  }  

